
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
script(src="http://documentcloud.github.com/underscore/underscore-min.js")
script(src="http://vkontakte.ru/js/api/openapi.js")

link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css")
link(rel="stylesheet", href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
link(rel="stylesheet", href="/css/style.css")

script(src="/js/home/app.js")
script(src="/js/home/view.js")

#login_view.row
    .span4
        #login_button

#main_view.row
    .span12.offset4
        h1 Заполните плейлист 
        .row
            .span6
                h2 Доступные песни 
                ul#album.connectedSortable

            .span6
                h2 Плэйлист
                ul#playlist.connectedSortable

