extends layout

block scripts
  script(src="/js/home/app.js")
  script(src="/js/home/view.js")

block content
  #login_view.row
      .span4
          #login_button

  #main_view.row
      .span12.offset4
          h1 Заполните плейлист
          .row
              .span6
                  h2 Доступные песни
                  ul#album.connectedSortable

              .span6
                  h2 Плэйлист
                  ul#playlist.connectedSortable
