!!! 5
html
  head
    title= title

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    script(src="http://documentcloud.github.com/underscore/underscore-min.js")
    script(src="http://vkontakte.ru/js/api/openapi.js")

  block scripts

  block css
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    block content

