.ui-sortable
    margin: 0
    min-width: 200px

#album, #playlist
    list-style-type: none
    float: left
    padding: 10px

#album
    background: grey

#playlist
    background: green 

#album li, #playlist li
    padding: 10px
    font-size: 1.2em
